<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mursitaffandi.mursitaffandi_baking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.List_food" />
        <activity
            android:name=".activity.DetailFoodListActivity"
            android:label="@string/title_detailfood_list"
            android:parentActivityName=".activity.List_food"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mursitaffandi.mursitaffandi_baking.activity.List_food" />
        </activity>
        <activity
            android:name=".activity.DetailFoodDetailActivity"
            android:label="@string/title_detailfood_detail"
            android:parentActivityName=".activity.DetailFoodListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mursitaffandi.mursitaffandi_baking.activity.DetailFoodListActivity" />
        </activity>
    </application>

</manifest>